name: go-test

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  go-test:
    name: go-test
    strategy:
      matrix:
        go-version: [1.24.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          submodules: true
      - uses: actions/setup-go@v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: go-test
        run: make test
      - name: Generate coverage report
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.out
